main {
  color: "#232129";
  padding: 0%;
  font-family: "-apple-system", "Roboto", sans-serif, serif;
};

.textOnImage {
  background-image: url(../images/dark_wood_texture.jpg);
  height: 240px;
  background-position: center;
  background-size: cover;
  padding: 48px 5%;
}